.header-custom{
    background-color: white;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
}
.black-text{
    color:#2d2d2d !important
}
.name-logo{
    font-weight: 700;
    font-size: 1.3em;
    font-family: "Lato", "Roboto","Helvetica","Arial",sans-serif;
    letter-spacing: 1px;
}

.mdl-layout__header-row{
    padding: 20px 80px 0px 80px;
}
.page-content{
    padding: 40px 80px 40px 80px;
}
.empty-space{
    height: 4em;
}
.empty-space-2{
    height: 2em;
}
.empty-space-contact{
    height: 1em;
}
.home-page-center-text{
    height: 20em;
    /* border: 1px solid red; */
}
.home-page-center-text-contact{
    height: 12em;
}
.home-page-text{
    font-size: 3.3em;
    line-height: 124%;
    letter-spacing: 2px;
    color: #484848;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 300;
}
.about-page-text{
    font-size: 2.8em;
    line-height: 124%;
    letter-spacing: 2px;
    color: #484848;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 300;
}
.project-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.image-div{
    height: 20em;
    background-color: #a0a0a0;
}
.video-div{
    height: 15em;
    /* background-color: #a0a0a0; */
    position:relative;
}
.header-links{
    letter-spacing: 2px;
}
.heading-section{
    font-weight: 600;
    padding: 8px;
}
.get-in-touch{
    height: 8em;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}
.contact-text{
    padding: 24px;
}
.hover{
    background: linear-gradient(90deg, rgb(255, 19, 19), rgb(247, 71, 71));
    border: none;
}
.hover-yt{
    background: linear-gradient(90deg, rgb(255, 19, 19), rgb(247, 71, 71));
    border: none;
}
.hover div{
    color: white;
}
.hover-uxd{
    text-decoration: underline;
}
.hover-youtube{
    text-decoration: underline;
}
.youtube-thumbnail {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}
.video-div:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.8);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.video-div:hover:after {
    opacity: 1;
}
.youtube-video-name{
    font-size: 1.9em;
    font-weight: 400;
    margin: 0;
    padding: 18px 10px 10px 0;
    color: #1d1d1d;
    line-height: 135%;
    letter-spacing: 2px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}
.links{
    text-decoration: none;
}
.center-image{
    height: 50em;
    background-color: #a0a0a0;
}